
/* Extra Resets */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 16px;

  }
  *, *:before, *:after {
    box-sizing: inherit;
    scroll-behavior: smooth;
  }
  
  

/* Layout */
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.container-small {
    max-width: 720px;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
}
.bold-heading {
    display: inline;
    font-weight: bold;
    font-style: normal;
}



/*Header*/
.header-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0.25% 7%;
}
.navigation-container {
    display: inline-block;
    text-align: center;
    margin: auto;
    position: relative;
    padding-right: 8%;
    /* mobile */
    margin-top: 80px;
    border-top: solid 1px #d7d7d7;
    width: 100%;
    order: 1;
    padding-top: 10px;
    
}
.navigation-container .link{
    font-family: 'Raleway', serif;
    color: #e2574c;
    font-size: 85%;
    text-decoration: none;
    padding: 0 1vw;
}
.navigation-container .link:hover {
    color: #b64036;
}
.navigation-container .link:active {
    color: #b64036;
    border: dotted 1px #b64036;
}
.navigation-container li{
    display: inline-block;
}
.aloha-icon {
    width: 11.5vw;
    height: 11.5vh;
}
.shopping-cart-icon {
    width: 5vw;
    height: 9.5vh;
}



/*Banner*/
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: repeat, no-repeat, repeat-x;
    background-position: center, center 10vh , center center;
    background-size: cover, 17%, contain;
    text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    padding-top: 15.5%;
    padding-bottom: 15.5%;
}
.banner-container h1 {
    font-family: 'Raleway', serif;
    color: white;
    font-size: 1.05rem;
    text-transform: uppercase;
    padding-bottom: 1%;
}
.banner-container h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3.3rem;
}



/* Description */
.description-container {
    display: block;
    text-align: center;
    color: #2d2d2d;
    padding: 50px 0px;
}
.description-container .title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}
.description-container .description {
    font-family: 'Raleway', serif;
    font-size:1rem;
    font-weight: lighter;
    line-height: 2;
}



/* Product-Links */
.product-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}
.product-container .link {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 auto;
}
.product-link {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center;
    text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
    padding-top: 20%;
    padding-bottom: 20%;
}
.product-link .link:hover {
    color: #f5ebc6;
}
.product-link .link:active {
    border: dotted 1px white;
}
.product-link.mens {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/mens-category.jpg);
    background-size: cover, cover;
    border-right: solid 4px white;
    border-bottom: solid 4px white;
    border-left: solid 4px white;

}
.product-link.trends {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/trends-category.jpg);
    background-size: cover, cover;
    border: solid 4px white;
}
.product-link.glasses {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/glasses-category.jpg);
    background-size: cover, cover;
    border-top: solid 4px white;
    border-right: solid 4px white;
    border-bottom: solid 4px white;
    border-left: solid 4px white;

}
.product-link.sale {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/sale-category.jpg);
    background-size: cover, cover;
    border-top: solid 4px white;
    border-right: solid 4px white;
    border-bottom: solid 4px white;
    border-left: solid 4px white;
}
.product-link.bags {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/bags-category.jpg);
    background-size: cover, cover;
    border: solid 4px white;
}
.product-link.womens {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/womens-category.jpg);
    background-size: cover, cover;
    border-top: solid 4px white;
    border-right: solid 4px white;
    border-left: solid 4px white;
}
.img-large {
    background-position: center, center;
    background-size: cover, cover;
    flex-basis: 100%;
}
.img-small {
    background-position: center, center;
    background-size: cover, cover; 
    flex-basis: 50%;
}



/* Featured */
.featured-container .title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
    padding-top: 9vh;
}
.all-style-container {
    display: flex;
    flex-direction: row;
    cursor: grab;
}
.item-container {
    text-align: center;
}
.item-container img {
    width: 200px;
}
.category {
    font-family: 'Raleway', sans-serif;
    color: #969696;
    font-size: 10px;
    text-transform: uppercase;
}
.product-name {
    display: inline-block;
    font-family: 'Playfair Display', sans-serif;
    color: #e2574c;
    font-size: 20px; 
    line-height: 50px;
}
.price {
    font-family: 'Raleway', sans-serif;
    color: #969696;
    font-size: 13px;
}



/* Newsletter */
.newsletter { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    line-height: 5vh;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/wave-bkgd.jpg);
    background-size: cover, cover;
    background-position: center, bottom;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
    margin: 0 auto;
}
.signup-description .title{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
    text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
    margin-bottom: 5vh;
}
.signup-description .description {
    font-family: 'Raleway', serif;
    font-size: 0.95rem;
    font-weight: lighter;
    margin-bottom: 4vh;
}
.email-input {
    position: relative;
}
 .your-email {
    font-family: 'Raleway', sans-serif;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: lighter;
    background-color: white;
    border-radius: 50px;
    border: 0;
    width: 375px;
    height: 41px;
    padding-left: 20px;
}
.submit-button {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 14px;
    background-color: #e2574c;
    border-radius: 50px;
    border: 0;
    position: absolute;
    width: 100px;
    height: 34px;
    right: 4px;
    top: 4px;
    cursor: pointer;
} 
.submit-button:hover {
    background-color: #b64036;
}



/* Footer */
.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: white;
    text-align: left;
    background-color: #242424;
    border-top: solid 7px white;
    width: 100%;
    height: 230px;
    padding-top: 3.5%;
    padding-right: 13%;
    padding-left: 8%;

}
.footer-info {
    font-family: 'Playfair Display', serif;
    font-size: 0.85rem;
    line-height: 1.5;
    font-weight: lighter;
}
.contact {
    margin: 15px 0px;
}
.contact .link {
    color: white;
}
.contact .link:hover {
    color: #e2574c;
}
.contact .link:active {
    color: #e2574c;
}
.contact .link:visited {
    color: white; 
    /* why turn purple? */
}
.address {
    color: #969696;
}
.social-media {
    font-family: 'Raleway', serif;
    text-decoration: none;
    font-weight: lighter;
}
.social-media li {
    margin: 10px 0px;
}
.social-media .link {
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
}
.social-media .link:hover {
    color: #e2574c;
}
.social-media .link:active {
    color: #e2574c;
    border: dotted 1px #e2574c;
}
.fab {
    font-size: 13px;
    width: 1vw;
    padding-right: 2vw;
}

/* Tablet Version */
@media screen and (min-width: 600px) {

.navigation-container {
    margin: auto;
    border: none;
    order: 0;
}
.product-link {
    padding-top: 11%;
    padding-bottom: 11%;
    }
.img-large {
    flex-basis: 50%;
}
.img-small {
    flex-basis: 25%;
}
.product-link.mens {
border-left: 0;
border-bottom: 0;
}
.product-link.glasses {
    border-right: 0;
}
.product-link.sale {
    border-left: 0;
    border-bottom: 0;
}
.product-link.bags {
    border-bottom: 0;
}
.product-link.womens {
    border-right:0;
}
}

